.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

.row {
    text-align: center;
}

.rowborder {
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    height: fit-content;
}

.title {
    font-size: xxx-large;
    font-weight: bold;
}

ion-content{
    --ion-background-color: "#000000";
}

.master{
    background-color: "#000000";
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-bot {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
}

ion-item {
    --border-color: var(--ion-color-danger, #ffffff);
  }

  .my-custom-class .alert-wrapper {
    background: #e5e5e5;
  }