<ion-content id="homeContent" scroll="false" class="padding"  >
  <div class="row" style="margin: 20px;">
    <center>
      <label class="title" >Square</label>
    </center>
  </div>
    <div class="row">
        <div id="pictionaryButton" class="column">
          <a (click)="PictionaryClick()">
            <img src="../../../assets/logo_pictionary.png" />
          </a>
        </div>
        <div id="devineteteButton" class="column">
          <a (click)="DevineTeteClick()" >
            <img src="../../../assets/logo-devinetete.jpg" />
          </a>
        </div>
    </div>
</ion-content>
